@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(99.433% 0.00132 286.38);
  --color-base-200: oklch(96.367% 0.00172 247.84);
  --color-base-300: oklch(89.716% 0.00586 264.53);
  --color-base-content: oklch(17.739% 0.00442 264.46);
  --color-primary: oklch(80.035% 0.18206 151.71);
  --color-primary-content: oklch(23.597% 0.05097 152.49);
  --color-secondary: oklch(62.04% 0.19493 256.46);
  --color-secondary-content: oklch(23.271% 0.0715 254.91);
  --color-accent: oklch(70.167% 0.32249 328.36);
  --color-accent-content: oklch(6.801% 0.03126 328.36);
  --color-neutral: oklch(43.778% 0.01767 264.38);
  --color-neutral-content: oklch(89.716% 0.00586 264.53);
  --color-info: oklch(49.006% 0.27691 280.39);
  --color-info-content: oklch(95.417% 0.02303 296.73);
  --color-success: oklch(60.609% 0.15775 149.98);
  --color-success-content: oklch(96.614% 0.02791 158.7);
  --color-warning: oklch(58.842% 0.15566 49.35);
  --color-warning-content: oklch(98.042% 0.01266 63.925);
  --color-error: oklch(59.679% 0.24107 28.885);
  --color-error-content: oklch(98.673% 0.00641 17.265);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --layout-sidebar-background: oklch(96.367% 0.00172 247.84);
  --layout-topbar-background: oklch(96.367% 0.00172 247.84);
  --rounded-box: 0.25rem;
  --card-p: 20px;
  --card-fs: var(--text-base);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(6.7205% 0 none);
  --color-base-200: oklch(17.739% 0.00442 264.46);
  --color-base-300: oklch(31.261% 0.01152 264.39);
  --color-base-content: oklch(93.032% 0.00459 258.33);
  --color-primary: oklch(60.609% 0.15775 149.98);
  --color-primary-content: oklch(96.614% 0.02791 158.7);
  --color-secondary: oklch(52.609% 0.19161 258.13);
  --color-secondary-content: oklch(96.404% 0.01591 253.9);
  --color-accent: oklch(45.612% 0.20963 328.36);
  --color-accent-content: oklch(87.073% 0.12209 326.56);
  --color-neutral: oklch(76.315% 0.01357 266.67);
  --color-neutral-content: oklch(6.7205% 0 none);
  --color-info: oklch(49.006% 0.27691 280.39);
  --color-info-content: oklch(90.362% 0.04963 296.84);
  --color-success: oklch(60.609% 0.15775 149.98);
  --color-success-content: oklch(96.614% 0.02791 158.7);
  --color-warning: oklch(58.842% 0.15566 49.35);
  --color-warning-content: oklch(98.042% 0.01266 63.925);
  --color-error: oklch(59.679% 0.24107 28.885);
  --color-error-content: oklch(98.673% 0.00641 17.265);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --layout-sidebar-background: oklch(17.739% 0.00442 264.46);
  --layout-topbar-background: oklch(17.739% 0.00442 264.46);
  --rounded-box: 0.25rem;
  --card-p: 20px;
  --card-fs: var(--text-base);
}
